<div>
    <h1 class="page-title">Chính sách thanh toán</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="profile-content">
                <div class="portlet light main-content">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">CÁC HÌNH THỨC DOANH THU VÀ ĐIỀU KHOẢN THANH TOÁN</span>
                    </div>
                    <div class="table-responsive">
                        <p><strong>ĐIỀU 1. THUẬT NGỮ</strong></p>

                        <ol>
                            <li><strong>&ldquo;B&ecirc;n A&rdquo;</strong> c&ocirc;ng ty cổ phần c&ocirc;ng nghệ DKT, đơn vị cung cấp c&aacute;c dịch vụ Bizweb, Sapo, DKTmedia ( quảng c&aacute;o Google Adword v&agrave; quảng c&aacute;o Facebook)</li>
                            <li><strong>&nbsp;&ldquo;B&ecirc;n B&rdquo;</strong>&nbsp;được hiểu l&agrave; một c&aacute; nh&acirc;n, tập thể muốn nhận hoa hồng th&ocirc;ng qua việc giới thiệu kh&aacute;ch h&agrave;ng sử dụng dịch vụ của B&ecirc;n A bằng c&aacute;ch giới thiệu kh&aacute;ch h&agrave;ng trực tiếp hoặc đăng c&aacute;c quảng c&aacute;o, chia sẻ link ph&acirc;n phối &hellip; nhằm giới thiệu kh&aacute;ch h&agrave;ng cho b&ecirc;n A</li>
                            <li><strong>&ldquo;Trang mạng&rdquo; </strong>được hiểu l&agrave; một trang mạng Internet do B&ecirc;n B vận h&agrave;nh, quản l&yacute; v&agrave; được B&ecirc;n B d&ugrave;ng để khai th&aacute;c giới thiệu kh&aacute;ch h&agrave;ng cho b&ecirc;n A</li>
                            <li><strong>&ldquo;Kh&aacute;ch h&agrave;ng mới&rdquo; </strong>được hiểu l&agrave; kh&aacute;ch h&agrave;ng chưa d&ugrave;ng một hoặc nhiều dịch vụ của DKT (Bizweb, Sapo, DKTMedia)</li>
                        </ol>

                        <p><strong>ĐIỀU 2. H&Igrave;NH THỨC T&Iacute;NH DOANH THU V&Agrave; HOA HỒNG</strong></p>

                        <ol>
                            <li>Doanh thu được hiểu l&agrave; số tiền m&agrave; b&ecirc;n A thu được khi k&yacute; hợp đồng với c&aacute;c dịch vụ DKT cung cấp. Doanh thu chỉ t&iacute;nh tr&ecirc;n dịch vụ ch&iacute;nh ( Bizweb, Sapo, Quảng c&aacute;o Google Adword, Quảng c&aacute;o Facebook) kh&ocirc;ng t&iacute;nh tr&ecirc;n c&aacute;c dịch vụ ph&aacute;t sinh như: theme, app, m&atilde; h&agrave;ng, thiết kế banner &hellip;..</li>
                            <li>Doanh thu được t&iacute;nh l&agrave; doanh thu sau khi đ&atilde; giảm trừ khuyến mại, chiếu khấu cho kh&aacute;ch h&agrave;ng nếu c&oacute;</li>
                            <li>Hoa hồng m&agrave; b&ecirc;n B được nhận được t&iacute;nh như sau:
                                <ul>
                                    <li>Kh&aacute;ch h&agrave;ng mới thực hiện k&iacute; hợp đồng sử dụng dịch vụ Bizweb, Sapo: 500.000 đồng/kh&aacute;ch</li>
                                    <li>Kh&aacute;ch h&agrave;ng mới thực hiện k&iacute; hợp đồng sử dụng dịch vụ Quảng c&aacute;o Google, Quảng c&aacute;o Facebook: 1-3% theo ch&iacute;nh s&aacute;ch ở phần Thể lệ</li>
                                </ul>
                            </li>
                            <li>Số tiền hoa hồng sẽ được ghi nhận khi kh&aacute;ch h&agrave;ng mới của b&ecirc;n A m&agrave; b&ecirc;n B giới thiệu k&yacute; hợp đồng v&agrave; thanh to&aacute;n tiền cho b&ecirc;n A</li>
                        </ol>

                        <p><strong>ĐIỀU 3. QUY ĐỊNH &nbsp;THANH TO&Aacute;N</strong></p>

                        <ol>
                            <li>Thời hạn thanh to&aacute;n: B&ecirc;n B thực hiện y&ecirc;u cầu r&uacute;t tiền, thời gian y&ecirc;u cầu r&uacute;t tiền l&agrave; từ 1 -&gt; 10 h&agrave;ng th&aacute;ng cho thời gian tr&ograve;n th&aacute;ng từ th&aacute;ng liền trước trở về trước, v&agrave; b&ecirc;n A sẽ chuyển khoản tiền hoa hồng v&agrave;o ng&agrave;y 20 của th&aacute;ng y&ecirc;u cầu r&uacute;t tiền</li>
                            <li>Hạn mức thanh to&aacute;n
                                <ol style="list-style-type:lower-alpha">
                                    <li>Lần y&ecirc;u cầu r&uacute;t tiền đầu ti&ecirc;n sẽ được thực hiện khi số tiền hoa hồng đạt tối thiểu 1,000,000 đ</li>
                                    <li>Với c&aacute;c lần r&uacute;t tiền sau kh&ocirc;ng giới hạn số tiền hoa hồng tối thiểu</li>
                                </ol>
                            </li>
                            <li>B&ecirc;n B sẽ chịu c&aacute;c chi ph&iacute; ph&aacute;t sinh trong qu&aacute; tr&igrave;nh thanh to&aacute;n, ph&iacute; chuyển tiền v&agrave; thuế thu nhập c&aacute; nh&acirc;n nếu c&oacute;</li>
                            <li>H&igrave;nh thức thanh to&aacute;n: Chuyển khoản ng&acirc;n h&agrave;ng</li>
                        </ol>

                        <p><em>Bằng việc đăng k&yacute; t&agrave;i khoản th&agrave;nh c&ocirc;ng tr&ecirc;n hệ thống http://aff.dkt.com.vn, B&ecirc;n B đồng nghĩa với việc chấp thuận c&aacute;c điều khoản trong Quy Định Thanh To&aacute;n n&agrave;y của B&ecirc;n A.</em></p>

                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
