
@import "./layout.min.css";
@import "../simple-line-icons/simple-line-icons.min.css";

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required  {
    border-left: 2px solid #44b6ae;
}

.ng-invalid:not(form)  {
    border-left: 2px solid red;
}

.ng-select-required  > div > div > span{
    border-left: 2px solid red !important;
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

/*FIXME this is to support grids in table class; */
table td[class*=col-], table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
/* form placeholder overrides - have to use !important or this doesn't work
--------------------------------------------- */
/* quick reset and base styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: helvetica, arial, sans-serif;
}
.container {
    margin: 0;
    padding: 0;
    border: 0;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(36, 62, 206, 0.6);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: #0022ff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* relevant styles */
.img__wrap {
    position: relative;
    margin: 5px;
}

.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(36, 62, 206, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

::-webkit-input-placeholder { /* Chrome */
    color: #a9a9a9 !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #a9a9a9 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #a9a9a9 !important;
    opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #a9a9a9 !important;
    opacity: 1 !important;
}

.btn{
    cursor: pointer !important;
    padding: 6px 12px !important;
}
.btn-primary{
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.btn-primary:hover{
    background-color: #286090 !important;
    border-color: #204d74 !important;
}
.login {
    background-color: #eef1f5 !important;
}
@media (max-width: 480px){
    .login .content{
        margin-top: 0px !important;
    }
}
@media (min-width: 480px){
    .login .content{
        margin-top: 90px !important;
    }
}
.login .content{
    width: auto !important;
    max-width: 480px !important;
}
.login .logo {
    margin: 20px auto 20px !important;
}
.login a {
    text-shadow: none !important;
    color: #337ab7 !important;
}
.login a:hover {
    cursor: pointer !important;
    color: #23527c !important;
}
.login a:focus, .login a:hover {
    color: #23527c !important;
    text-decoration: underline !important;
}
.login .forget-form{
    display: block !important;
}
.hide {
    display: none!important;
}
.open>.dropdown-menu {
    display: block;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    padding: 10px 15px;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}
@media (max-width: 320px){
    .logo-white {
        /*-webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);*/
        width:100%;
    }
}
.logo-text span{
    margin-top: 15px;
    display: inherit;
    color: lightgray;
    font-weight: bold;
    font-size: 16px;
}
a.logo-text{
    text-decoration: none;
}
a.sidebar-create-lead{
    color: #fff!important;
    background-color: #7fc142!important;
    text-align: left!important;
    font-weight: bold!important;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    border-left: none!important;
    margin-bottom: 10px !important;
}
a.sidebar-create-lead:hover {
    color: #f1f1f1!important;
    background-color: #73b13b!important;
}
a.sidebar-create-lead i{
    color: #fff!important;
}
a.sidebar-create-lead:hover i{
    color: #f1f1f1!important;
}
.page-sidebar-closed .logo-text{
    display: none !important;
}
.page-header.navbar .page-logo .logo-default{
    margin-top:13px;
}
.page-content-white .page-title{
    font-size: 28px !important;
    margin-top: 0px !important;
    font-weight: 400;
}
table thead th{
    cursor: pointer !important;
}
.input-group-addon>i {
    color: #646464 !important;
}
table a {
    text-decoration: none !important;
}
.img-avatar-thumb {
    margin: 5px;
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
}
.img-avatar {
    display: inline-block !important;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.product-tab a{
    text-decoration: none !important;
}
.product-tab .icon-btn{
    min-width: 120px !important;
    height: 80px !important;
    background-color: white;
}
.product-tab .icon-btn:hover{
    color: #337ab7;
    border: solid 1px #337ab7;
}
.product-tab .icon-btn:hover > .title{
    color: #337ab7;
}
.product-tab .icon-btn>i {
    font-size: 32px !important;
    padding-top: 10px !important;
}
.product-tab .title{
    text-transform:uppercase;
    padding: 5px 20px;
}
.product-tab .selected .icon-btn{
    background-color: #337ab7 !important;
    border: solid 1px #337ab7 !important;
}
.product-tab .selected .icon-btn:hover{
    text-shadow: none;
}
.product-tab .selected .icon-btn>i {
    color: white;
}
.product-tab .selected .title, .product-tab .selected .icon-btn:hover > .title{
    color: white;
}
.product-tab .selected::after {
    position: absolute;
    margin-left: 45px;
    bottom: -10px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 0 15px;
    border-color: #337ab7 transparent transparent transparent;
}

@media (min-width: 991px) {
    .main-content{
        min-height: 485px;
    }
}
/*Begin Profile*/
@media (max-width: 480px)
{
    .page-header.navbar .top-menu{
        clear:none!important;
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
        background-color: transparent;
    }
}
@media (max-width: 768px){
    .left-right{
        float: left !important;
    }
}
.left-right{
    float: right;
}
.padding-bottom-20{
    padding-bottom: 20px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user {
    background-color: transparent !important;
}
.img-responsive{
    display: block;
}
.nav {
    display: block;
}
.caption{
    padding-bottom: 10px !important;
}
.profile-usermenu{
    margin-top: 0px !important;
}
.nav>li>a:focus, .nav>li>a:hover{
    text-decoration: none;
}
@media (max-width: 480px) {
    .gravatar {
        position: absolute;
        left: 2px;
    }
}
@media (min-width: 480px) {
    .gravatar {
        position: absolute;
        left: 8px;
    }
}
/*End Profile*/
.table td, .table th{
    vertical-align: middle;
}
.btn-secondary{
    color: #464a4c;
}
.btn-secondary:hover {
    color: #464a4c;
    background-color: white;
    border-color: #5cb3fd;
}
.text-muted{
    color: #a9a9a9 !important;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #a9a9a9 !important;
}

.font-weight-bold{
    font-weight: 600 !important;
}

.main-content h3 {
    font-size: 18px;
    font-weight: 500;
}

.page-policy{
    padding:30px 100px;
    background-color: #eef1f5;
}
.html-content img{
    width: 100%;
}
/*Dashboard*/
.border-b {
    border-bottom: 1px solid #e9e9e9;
}
@media screen and (min-width: 768px)
{
    .content {
        margin: 0 auto;
        padding: 30px;
        max-width: 100%;
        overflow-x: visible;
    }
}
.content {
    margin: 0 auto;
    padding: 16px;
    max-width: 100%;
    overflow-x: visible;
}
.dashboard-title{
    font-size: 28px !important;
    padding: 20px 0px 15px 0px !important;
    font-weight: 400;
    color: #666;
}
.featured-product img{
    height: 64px;
}
.featured-product span{
    display: block;
    font-size: 14px;
    margin: 10px 0px;
}
.featured-product a{
    text-decoration: none;
}
/*News*/
.links-item ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.links-item ul li {
    padding-top: 5px;
}
.links-item ul li a {
    font-size: 14px;
    font-weight: 400;
    color: #4a8fba;
}
.links-item ul li p{
    margin: 10px 0;
}
.links-item ul li .title{
    font-size: 14px;
    color: #333;
}
.links-item ul li .sub-title{
    font-size: 10px;
    color: gray;
}

.switch{
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.switch + .lable{
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: normal;
    cursor: pointer;
}
.switch + .lable::before{
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: normal;
    font-size: 12px;
    color: #32a3ce;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 1px;
    position: relative;
    top: -1px;
}
.switch:checked + .lable::before {
    display: inline-block;
    content: '\f00c';
    background-color: #F5F8FC;
    border-color: #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
/* CSS3 on/off switches */
.switch + .lable {
    margin: 0 4px;
    min-height: 24px;
}
.switch + .lable::before {
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    height: 20px;
    overflow: hidden;
    border-radius: 12px;
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #CCC;
    text-align: left;
    float: left;
    padding: 0;
    width: 52px;
    text-indent: -21px;
    margin-right: 0;
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    top: auto;
}
.switch.switch-bootstrap + .lable::before {
    font-family: FontAwesome;
    content: "\f00d";
    box-shadow: none;
    border-width: 0;
    font-size: 16px;
    background-color: #a9a9a9;
    color: #F2F2F2;
    width: 52px;
    height: 22px;
    line-height: 21px;
    text-indent: 32px;
    -webkit-transition: background 0.1s ease;
    -o-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
.switch.switch-bootstrap + .lable::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 12px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: #F2F2F2;
    border: 4px solid #F2F2F2;
    -webkit-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
}
.switch.switch-bootstrap:checked + .lable::before {
    content: "\f00c";
    text-indent: 6px;
    color: #FFF;
    border-color: #b7d3e5;

}
.switch-primary >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #337ab7;
}
.switch-success >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #5cb85c;
}
.switch-danger >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #d9534f;
}
.switch-info >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #5bc0de;
}
.switch-warning >.switch.switch-bootstrap:checked + .lable::before {
    background-color: #f0ad4e;
}
.switch.switch-bootstrap:checked + .lable::after {
    left: 32px;
    background-color: #FFF;
    border: 4px solid #FFF;
    text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
/* square */
.switch-square{
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.switch-square + .lable{
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: normal;
    cursor: pointer;
}
.switch-square + .lable::before{
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: normal;
    font-size: 12px;
    color: #32a3ce;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 1px;
    position: relative;
    top: -1px;
}
.switch-square:checked + .lable::before {
    display: inline-block;
    content: '\f00c';
    background-color: #F5F8FC;
    border-color: #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
/* CSS3 on/off switches */
.switch-square + .lable {
    margin: 0 4px;
    min-height: 24px;
}
.switch-square + .lable::before {
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    height: 20px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #CCC;
    text-align: left;
    float: left;
    padding: 0;
    width: 52px;
    text-indent: -21px;
    margin-right: 0;
    -webkit-transition: text-indent .3s ease;
    -o-transition: text-indent .3s ease;
    transition: text-indent .3s ease;
    top: auto;
}
.switch-square.switch-bootstrap + .lable::before {
    font-family: FontAwesome;
    content: "\f00d";
    box-shadow: none;
    border-width: 0;
    font-size: 16px;
    background-color: #a9a9a9;
    color: #F2F2F2;
    width: 52px;
    height: 22px;
    line-height: 21px;
    text-indent: 32px;
    -webkit-transition: background 0.1s ease;
    -o-transition: background 0.1s ease;
    transition: background 0.1s ease;
}
.switch-square.switch-bootstrap + .lable::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 12px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    width: 18px;
    height: 18px;
    text-align: center;
    background-color: #F2F2F2;
    border: 4px solid #F2F2F2;
    -webkit-transition: left 0.2s ease;
    -o-transition: left 0.2s ease;
    transition: left 0.2s ease;
}
.switch-square.switch-bootstrap:checked + .lable::before {
    content: "\f00c";
    text-indent: 6px;
    color: #FFF;
    border-color: #b7d3e5;

}
.switch-primary >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #337ab7;
}
.switch-success >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #5cb85c;
}
.switch-danger >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #d9534f;
}
.switch-info >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #5bc0de;
}
.switch-warning >.switch-square.switch-bootstrap:checked + .lable::before {
    background-color: #f0ad4e;
}
.switch-square.switch-bootstrap:checked + .lable::after {
    left: 32px;
    background-color: #FFF;
    border: 4px solid #FFF;
    text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
.switch-square.switch-bootstrap + .lable::after {
    border-radius: 2px;
}

.btn-login {
    background-color: #337ab7;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:1px solid #337ab7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:5px 35px;
    text-decoration:none;
    text-shadow:0px 0px 0px #337ab7;
}
.btn-login:hover {
    background-color: #316ea9;
}
.btn-login:active {
    position:relative;
    top:1px;
}
.advertisement-item{
    border: solid 1px lightgray;
}
.advertisement-item .title{
    background-color: #00b0f0;
    color:white;
    font-weight: bold;
    height:50px;
    padding: 5px;
    overflow: hidden;
}
.advertisement-item .item-image{
    width: 120px;
    height: 90px;
    margin-right: 10px;
}
.advertisement-item .item-image img{
    max-width: 120px;
    max-height: 90px
}
.advertisement-item .item-description{
    display: block;
    vertical-align: top;
    max-height:85px;
    overflow: hidden;
}
.advertisement-item .border-bottom-lightgray{
    border-bottom: dotted 1px lightgray;
}
.advertisement-item .item-type{
    min-height: 25px;
}
.advertisement-item .item-type span{
    color: gray;
}
.report-nav-link{
    font-size: 13px;
    font-weight: bold;
    color:#4a8fba !important;
    text-decoration: none;
}
.report-nav-link:hover, .report-nav-link:visited{
    text-decoration: none;
}
.report-nav-link.current{
    color: #666 !important;
}

.tabs-container ul{
    margin-bottom: 0;
    padding-bottom: 9px;
}
.tabs-container ul li{
    list-style-type: none;
    display: inline;
    padding: 0 10px 10px;
}
.tabs-container ul li a, .tabs-container ul li a:hover, .tabs-container ul li a:visited{
    text-decoration: none;
}
@media screen and (min-width: 768px) {
    .tabs-container{
        border-bottom: solid 3px lightgray;
    }
    .tabs-container ul li.active{
        border-bottom: solid 3px #4a8fba;
    }
}
@media screen and (max-width: 768px) {
    .tabs-container{
         border-bottom: solid 3px #4a8fba;
     }
    .tabs-container ul li.active{
        border-bottom: none !important;
    }
}

.tabs-container ul li.active a{
    font-weight: bold;
}
